@tailwind base;
@tailwind components;
@tailwind utilities;
header{
    overflow: hidden;
}

.herofon{
    background: url("assets/bgfon2.png");
    background-position: center;
    background-size: cover;
}